---
permalink: /samples/playground.html
---
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">    
  </head>
  <body>
    <script type="module" src="../index.js"></script>    
  </body>
</html>